{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link    rel="stylesheet"      href ="{% static 'css/main.css' %}">
        <script type="text/javascript" src  ="{% static 'js/main.js'   %}"></script>
    </head>
    <body>
    <form name="f1">
    <p>
    <input type="button" name="b_prep"  value="準 備" style="font-weight : bold" onclick="prep_click()">
    <input type="button" name="b_start" value="開 始" style="font-weight : bold" onclick="start_click()" >
    <b>問題：：</b>
    <input type="text"   name="t_question" style="font-weight : bold" size="6" readonly >
    <input type="text"   name="t_test" style="font-weight : bold" size="40" readonly >
    <p><b>入力：：：： </b>
    <input type="text"   name="t_input" size="4" value="" style="font-weight : bold" readonly="readonly"></p>
    <pre></pre>
    <input type="button" name="b1" value="1" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b2" value="2" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b3" value="3" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b4" value="4" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b5" value="5" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="clear" value="C" style="font-weight : bold" onclick="clear_click()">
      <br>
    <input type="button" name="b9" value="9" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b8" value="8" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b7" value="7" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b6" value="6" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b0" value="0" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b_enter" value=" Enter " style="font-weight : bold" onclick="enter_click()">
    <input type="button" name="b_save"  value="全保存"  style="font-weight : bold" onclick="save_click()">
    <input type="button" name="b_reset" value=" reset " style="font-weight : bold" onclick="reset_click()">
    <hr><!-- 時間 -->
    <input type="text"   name="t_s" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_1" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_2" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_3" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_4" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_e" style="background-color: transparent; border: none;" readonly size="10" >
    <br>_________
    <input type="text"   name="t_1_s" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input type="text"   name="t_2_1" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input type="text"   name="t_3_2" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input type="text"   name="t_4_3" style="background-color: transparent; border: none;" readonly size="4" >____
    <input type="text"   name="t_e_4" style="background-color: transparent; border: none;" readonly size="4" >
    <br>
    0<input type="text"  name="t_0x">
    1<input type="text"  name="t_1x">
    2<input type="text"  name="t_2x"><br>
    3<input type="text"  name="t_3x">
    4<input type="text"  name="t_4x">
    5<input type="text"  name="t_5x"><br>
    6<input type="text"  name="t_6x">
    7<input type="text"  name="t_7x">
    8<input type="text"  name="t_8x"><br>
    <br>
    0<input type="text"  name="t_0xx">
    1<input type="text"  name="t_1xx">
    2<input type="text"  name="t_2xx"><br>
    3<input type="text"  name="t_3xx">
    4<input type="text"  name="t_4xx">
    5<input type="text"  name="t_5xx"><br>
    6<input type="text"  name="t_6xx">
    7<input type="text"  name="t_7xx">
    8<input type="text"  name="t_8xx"><br>

    </form><p class="lw">最下層</p>
</body>
</html>