{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link    rel="stylesheet"      href ="{% static 'css/main.css' %}">
        <script type="text/javascript" src  ="{% static 'js/main.js'   %}"></script>
    </head>
    <body>
<form  name="f1">
    <p>
    <input name="b_prep"  type="button" value="準 備" style="font-weight : bold" onclick="prep_click()"  >
    <input name="b_start" type="button" value="開 始" style="font-weight : bold" onclick="start_click()" >
    <b>問題：：</b>
    <input name="t_question" type="text"    style="font-weight : bold" size="6" readonly >
    <p><b>入力：：：： </b>
    <input name="t_input" type="text"    size="4" value="" style="font-weight : bold" readonly="readonly">
    残り ：
    <input name="t_remain" type="text"   size="1" value="" style="font-weight : bold" readonly="readonly"></p>
    <input name="b1" type="button" value="1" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b2" type="button" value="2" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b3" type="button" value="3" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b4" type="button" value="4" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b5" type="button" value="5" style="font-weight : bold" onclick="b1_click(this)">
    <input name="clear" type="button" value="C" style="font-weight : bold" onclick="clear_click()"><br>
    <input name="b9" type="button" value="9" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b8" type="button" value="8" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b7" type="button" value="7" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b6" type="button" value="6" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b0" type="button" value="0" style="font-weight : bold" onclick="b1_click(this)">
    <input name="b_enter" type="button" value=" Enter " style="font-weight : bold" onclick="enter_click()">
    <input name="b_test"  type="button" value=" test " onclick="test_click()">
    <hr><!-- 時間 -->
    <input name="t_s" type="text" style="background-color: transparent; border: none;" readonly size="10" >
    <input name="t_1" type="text" style="background-color: transparent; border: none;" readonly size="10" >
    <input name="t_2" type="text" style="background-color: transparent; border: none;" readonly size="10" >
    <input name="t_3" type="text" style="background-color: transparent; border: none;" readonly size="10" >
    <input name="t_4" type="text" style="background-color: transparent; border: none;" readonly size="10" >
    <input name="t_e" type="text" style="background-color: transparent; border: none;" readonly size="10" >
    <br>_________
    <input name="t_1_s" type="text" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input name="t_2_1" type="text" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input name="t_3_2" type="text" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input name="t_4_3" type="text" style="background-color: transparent; border: none;" readonly size="4" >____
    <input name="t_e_4" type="text" style="background-color: transparent; border: none;" readonly size="4" ><br>
  00<input name="t_0_0x" size="1" type="text" >
  01<input name="t_0_1x" size="1" type="text" >
  02<input name="t_0_2x" size="1" type="text" >
  03<input name="t_0_3x" size="1" type="text" >
  04<input name="t_0_4x" size="1" type="text" >
  05<input name="t_0_5x" size="1" type="text" >
  06<input name="t_0_6x" size="1" type="text" >
  07<input name="t_0_7x" size="1" type="text" >
  08<input name="t_0_8x" size="1" type="text" ><br>
  10<input name="t_1_0x" size="1" type="text" >
  11<input name="t_1_1x" size="1" type="text" >
  12<input name="t_1_2x" size="1" type="text" >
  13<input name="t_1_3x" size="1" type="text" >
  14<input name="t_1_4x" size="1" type="text" >
  15<input name="t_1_5x" size="1" type="text" >
  16<input name="t_1_6x" size="1" type="text" >
  17<input name="t_1_7x" size="1" type="text" >
  18<input name="t_1_8x" size="1" type="text" ><br>
  20<input name="t_2_0x" size="1" type="text" >
  21<input name="t_2_1x" size="1" type="text" >
  22<input name="t_2_2x" size="1" type="text" >
  23<input name="t_2_3x" size="1" type="text" >
  24<input name="t_2_4x" size="1" type="text" >
  25<input name="t_2_5x" size="1" type="text" >
  26<input name="t_2_6x" size="1" type="text" >
  27<input name="t_2_7x" size="1" type="text" >
  28<input name="t_2_8x" size="1" type="text" ><br>
  30<input name="t_3_0x" size="1" type="text" >
  31<input name="t_3_1x" size="1" type="text" >
  32<input name="t_3_2x" size="1" type="text" >
  33<input name="t_3_3x" size="1" type="text" >
  34<input name="t_3_4x" size="1" type="text" >
  35<input name="t_3_5x" size="1" type="text" >
  36<input name="t_3_6x" size="1" type="text" >
  37<input name="t_3_7x" size="1" type="text" >
  38<input name="t_3_8x" size="1" type="text" ><br>
</form>
</body>
</html>