{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <link    rel="stylesheet"      href ="{% static 'css/main.css' %}">
        <script type="text/javascript" src  ="{% static 'js/main.js'   %}"></script>
    </head>
    <body>
    <form name="f1">
    <p>
    <input type="button" name="b_prep"  value="準 備" style="font-weight : bold" onclick="prep_click()">
    <input type="button" name="b_start" value="開 始" style="font-weight : bold" onclick="start_click()" >
    <b>問題：：</b>
    <input type="text"   name="t_question" style="font-weight : bold" size="6" readonly >
    <input type="text"   name="t_test" style="font-weight : bold" size="30" readonly ></p>
    <p><b>入力：：：： </b>
    <input type="text"   name="t_input" size="4" value="" style="font-weight : bold" readonly="readonly">
    remain ：
    <input type="text"   name="t_remain" size="1" value="" style="font-weight : bold" readonly="readonly"></p>

    <input type="button" name="b1" value="1" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b2" value="2" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b3" value="3" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b4" value="4" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b5" value="5" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="clear" value="C" style="font-weight : bold" onclick="clear_click()">
      <br>
    <input type="button" name="b9" value="9" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b8" value="8" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b7" value="7" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b6" value="6" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b0" value="0" style="font-weight : bold" onclick="b1_click(this)">
    <input type="button" name="b_enter" value=" Enter " style="font-weight : bold" onclick="enter_click()">
    <input type="button" name="b_save"  value="全保存"  style="font-weight : bold" onclick="save_click()">
    <input type="button" name="b_reset" value=" reset " style="font-weight : bold" onclick="reset_click()">
    <input type="button" name="b_next" value=" next " style="font-weight : bold" onclick="next_click()">
    <input type="button" name="b_test" value=" test " onclick="test_click()">
    <hr><!-- 時間 -->
    <input type="text"   name="t_s" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_1" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_2" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_3" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_4" style="background-color: transparent; border: none;" readonly size="10" >
    <input type="text"   name="t_e" style="background-color: transparent; border: none;" readonly size="10" >
    <br>_________
    <input type="text"   name="t_1_s" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input type="text"   name="t_2_1" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input type="text"   name="t_3_2" style="background-color: transparent; border: none;" readonly size="4" >_____
    <input type="text"   name="t_4_3" style="background-color: transparent; border: none;" readonly size="4" >____
    <input type="text"   name="t_e_4" style="background-color: transparent; border: none;" readonly size="4" >
    <br>
    0<input type="text"  name="t_0x">
    1<input type="text"  name="t_1x">
    2<input type="text"  name="t_2x"><br>
    3<input type="text"  name="t_3x">
    4<input type="text"  name="t_4x">
    5<input type="text"  name="t_5x"><br>
    6<input type="text"  name="t_6x">
    7<input type="text"  name="t_7x">
    8<input type="text"  name="t_8x"><br>
    <br>
    0<input type="text"  name="t_0xx" size="4">
    1<input type="text"  name="t_1xx">
    2<input type="text"  name="t_2xx"><br>
    3<input type="text"  name="t_3xx">
    4<input type="text"  name="t_4xx">
    5<input type="text"  name="t_5xx"><br>
    6<input type="text"  name="t_6xx">
    7<input type="text"  name="t_7xx">
    8<input type="text"  name="t_8xx">
    <br>
    00<input name="t_0_0x" size="1" type="text"   >
    01<input name="t_0_1x" size="1" type="text"   >
    02<input name="t_0_2x" size="1" type="text"   >
    03<input name="t_0_3x" size="1" type="text"   >
    04<input name="t_0_4x" size="1" type="text"   >
    05<input name="t_0_5x" size="1" type="text"   >
    06<input name="t_0_6x" size="1" type="text"   >
    07<input name="t_0_7x" size="1" type="text"   >
    08<input name="t_0_8x" size="1" type="text"   ><br>
    10<input name="t_1_0x" size="1" type="text"   >
    11<input name="t_1_1x" size="1" type="text"   >
    12<input name="t_1_2x" size="1" type="text"   >
    13<input name="t_1_3x" size="1" type="text"   >
    14<input name="t_1_4x" size="1" type="text"   >
    15<input name="t_1_5x" size="1" type="text"   >
    16<input name="t_1_6x" size="1" type="text"   >
    17<input name="t_1_7x" size="1" type="text"   >
    18<input name="t_1_8x" size="1" type="text"   ><br>
    10<input name="t_2_0x" size="1" type="text"   >
    11<input name="t_2_1x" size="1" type="text"   >
    12<input name="t_2_2x" size="1" type="text"   >
    13<input name="t_2_3x" size="1" type="text"   >
    14<input name="t_2_4x" size="1" type="text"   >
    15<input name="t_2_5x" size="1" type="text"   >
    16<input name="t_2_6x" size="1" type="text"   >
    17<input name="t_2_7x" size="1" type="text"   >
    18<input name="t_2_8x" size="1" type="text"   ><br>
    10<input name="t_3_0x" size="1" type="text"   >
    11<input name="t_3_1x" size="1" type="text"   >
    12<input name="t_3_2x" size="1" type="text"   >
    13<input name="t_3_3x" size="1" type="text"   >
    14<input name="t_3_4x" size="1" type="text"   >
    15<input name="t_3_5x" size="1" type="text"   >
    16<input name="t_3_6x" size="1" type="text"   >
    17<input name="t_3_7x" size="1" type="text"   >
    18<input name="t_3_8x" size="1" type="text"   ><br>

    </form><p class="lw">最下層</p>
</body>
</html>